:root {
    /* ==== Cores ==== */	
    --branco: #ffffff;
    --letras-erradas: #e30b21;

    /* Azul escuro */
    --darkBlue-100: #609ed4;
    --darkBlue-200: #356ea9;
    --darkBlue-300: #0a3871;
    --darkBlue-400-medio: #072b61;
    --darkBlue-400-escuro: #052051;

    /* cinza */
    --gray-100: #ced4da;
    --gray-200: #adb5bd;
    --gray-500-medio: #868e96;
    --gray-400: #495057;
    --gray-500-escuro: #343a40;

    /* Azul claro */
    --ligthBlue-100: #f3f5fc;
    --ligthBlue-200: #eff1fa;
    --ligthBlue-300: #e9ecf8;
    --ligthBlue-400: #aab2d5;
    --ligthBlue-500: #757fb2;

    /* Fonte do texto e peso */
    --fonte: 'Inter', sans-serif;

    --fina: 100;
    --baixo: 400;
    --medio: 500;
    --alto: 700;
}

