.botao {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--darkBlue-300);
    border-radius: 24px;
    color: var(--branco);
    cursor: pointer;
    font-weight: inherit;
    font-size: 1.6rem;
    line-height: 1.9rem;
    padding: 2.4rem;
    width: 100%;
}

.botao--alternativo {
    background: none;
    border: 1px solid var(--darkBlue-300);
    border-radius: 24px;
    color: var(--darkBlue-300);
    transition: ease-in-out 0.3s;
}

.botao--alternativo:hover {
    background: var(--ligthBlue-300);
}



