.botao {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--darkBlue-300);
    border-radius: 24px;
    color: var(--branco);
    cursor: pointer;
    font-weight: inherit;
    font-size: 1.6rem;
    line-height: 1.9rem;
    padding: 2.4rem;
    width: 100%;
}

.botao--alternativo {
    background: none;
    border: 1px solid var(--darkBlue-300);
    color: var(--darkBlue-300);
    transition: ease-in-out 0.3s;
}

.botao--alternativo:hover {
    background: var(--ligthBlue-300);
}

.bota--reiniciar {
    font-size: 1.2rem;
    padding: 1rem;
    width: 50%;
    height: 20%;
}

.botao--letra {
    background: none;
    border: 1px solid var(--gray-500-escuro);
    border-radius: 10px;
    color: var(--gray-500-escuro);
    font-size: 1rem;
    padding: .5rem;
    width: 15%;
}

@media screen and (min-width: 720px) {
    .botao--letra {
        width: 10%;
    }
}

