.tela__jogo {
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 2rem;
    margin: 0 auto;

    min-height: 100vh;
    display: none;
}

.tela__jogo-letras {
    text-align: center;
    text-transform: uppercase;
    width: 90%;
}

.letra--secreta {
    font-size: 1.75rem;
    font-weight: var(--medio);
}

.tela__jogo-teclas {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    width: 90%;
    height: 30%;
}

.tela__jogo-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 0 auto;
    width: 90%;
    max-width: 420px;
    height: 25%;
}

@media screen and (min-width: 720px) {
    .tela__jogo-container {
        height: 20%;
        width: 60%;
    }

    .tela__jogo-teclas {
        max-width: 800px;
    }

    .tela__jogo-letras {
        width: 75%;
    }
}

@media screen and (min-width: 1024px){
    .tela__jogo-container {
        flex-direction: row;
        height: 10%;
    }

    .tela__jogo-teclas {
        max-width: 992px;
    }
}
