.menssagem__caixa::backdrop {
    background-color: rgb( 0 0 0 / .3);
}

.menssagem__caixa {
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 1rem rgb( 0 0 0 / .5);
    position: relative;
    text-align: center;
    height: 50%;
    width: 75%;
}

.caixa--titulo {
    font-size: 1.75rem;
    font-weight: var(--alto);
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -25%);
}

.caixa--menssagem {
    font-size: 1.75rem;
    font-weight: var(--baixo);
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -25%);
}

.pop-up {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
